RewriteEngine On

# Disable directory browsing
Options -Indexes

# Protect hidden/dot files (e.g. .env, .htaccess)
RewriteRule "(^|/)\.." - [F,L]

# Front controller - send all non-file/dir requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
